@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
/*hi*/
:root{
   --pink:#e84393;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --forest-green : #014421;
   --maroon : #7b1113;
   --gold : #FFD700;
   --gray: #676767;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

*::selection{
   background-color: var(--light-color);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--forest-green);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

body{
   background: var(--light-bg);
   
}
section{
   padding:3rem 2rem;
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   background-color: var(--white);
   z-index: 1000;
   box-shadow: var(--box-shadow);
}

.header .flex{
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:1.5rem 2rem;
   max-width: 1200px;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--maroon);
}
.header .flex .user{
   font-size: 2.3rem;
   font-family: cursive;
   color:var(--maroon);
}

.header .flex .navbar ul{
   list-style: none;
}

.header .flex .navbar ul li{
   float: left;
   position: relative;
}

.header .flex .navbar ul li a{
   font-size: 2rem;
   padding:1rem 1.5rem;
   display: block;
   color:var(--light-color);
   text-transform: capitalize;
}

.header .flex .navbar ul li a:hover{
   background-color: var(--forest-green);
   color:var(--white);
}

.header .flex .navbar ul li ul{
   position: absolute;
   left:0;
   width: 15rem;
   background-color: var(--white);
   animation: fadeIn .2s linear;
   display: none;
}

.header .flex .navbar ul li ul li{
   width: 100%;
}

.header .flex .navbar ul li:hover ul{
   display: inline-block;
}

.header .flex .icons > *{
   font-size: 2.5rem;
   margin-left: 1rem;
   color:var(--black);
   cursor: pointer;
}

.header .flex .icons > *:hover{
   color:var(--forest-green);
}

.header .flex .icons span{
   font-size: 2rem;
}


.header .flex .account-box{
   position: absolute;
   top:120%; right:2rem;
   background-color: var(--white);
   border:var(--border);
   text-align: center;
   box-shadow: var(--box-shadow);
   padding:2rem;
   border-radius: .5rem;
   width: 38rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .account-box.active{
   display: block;
}

.header .flex .account-box p{
   padding-bottom: 1rem;
   font-size: 2rem;
   color:var(--light-color);
   line-height: 1.5;
}

.header .flex .account-box p span{
   color:var(--forest-green);
}
.header .flex .account-box a{
   display: inline-block;
   border-radius: .5rem;
   margin-top: 1rem;
   font-size: 1.8rem;
   color:var(--white);
   cursor: pointer;
   padding:1rem 3rem;
   text-transform: capitalize;
   background-color: var(--red);
}
.header .flex .account-box a:hover{
   background-color: var(--black);
}
.header .flex .account-box .delete-btn{
   margin-top: .5rem;
}

.home{
   min-height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.home-bg{
   position: fixed;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
}
.home .content{
    text-align: center;
}
.home .content h3{
    text-transform: uppercase;
    color: var(--white);
    -webkit-text-stroke: 1.5px black;
    font-size: 6.5rem;
}
.home .content h4{
    max-width: 90rem;
    margin: 1rem auto;
    line-height: 2;
    font-size: 4rem;
    color: var(--white);
    -webkit-text-stroke: 1.5px black;
}
.home .content .btn{
    width: 100%;
    height: 3rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--white);
    border: var(--border);
    background-color: var(--orange);
    margin:1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.home .content .btn:hover{
    background-color: var(--black);
}

.home-contact{
   background-color: var(--black);
   text-align: center;
   margin-left: -2rem;
   margin-right: -2rem;
}

.home-contact .content{
   max-width: 50rem;
   margin:0 auto;
}

.home-contact .content h3{
   text-transform: uppercase;
   color:var(--white);
   font-size: 3rem;
}

.home-contact .content p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-white);
   padding:1rem 0;
}
.home-contact .content .btn{
   display: inline-block;
   border-radius: .5rem;
   margin-top: 1rem;
   font-size: 1.8rem;
   color:var(--white);
   cursor: pointer;
   padding:1rem 3rem;
   text-transform: capitalize;
   background-color: var(--maroon);
}
.home-contact .content .btn:hover{
   background-color: var(--white);
   color:var(--black);
}

.heading{
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background-color: var(--maroon);
   text-align: center;
   min-height: 25vh;
}

.heading h3{
   font-size: 5.7rem;
   color:var(--white);
   text-transform: uppercase;
}

.heading h4{
   font-size: 2.7rem;
   color:var(--white);
   font-family: 'Courier New', Courier, monospace;
}

.heading h4:hover{
   text-decoration: underline;
   color: var(--gold);
}



.footer{
   background-color: var(--white);
}

.footer .box-container{
   width: 83%;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .box-container .boxer h3{
   font-size: 2.2rem;
   color:var(--black);
   margin-bottom: 1.5rem;
   text-transform: uppercase;
}

.footer .box-container a,
.footer .box-container p{
   font-size: 1.7rem;
   color:var(--light-color);
   padding:1rem 0;
   display: block;
}

.footer .box-container a i,
.footer .box-container p i{
   color:var(--forest-green);
   padding-right: 1rem;
}

.footer .box-container a:hover{
   text-decoration: underline;
   color:var(--forest-green);
}

.footer .credit{
   text-align: center;
   padding-top: 2.5rem;
   margin-top: 2.5rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--light-color);
}

.footer .credit span{
   color:var(--maroon);
}
.search-page{
   min-height : 90vh;
   background : url(../images/cover.jpeg) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.search-page .search{
   width: 100%;
   display : flex;
   margin-left: auto;
   margin-right: auto;
}

.search-page .search form{
   width: 100%;
   text-align: center;
}
 .search form .box{
   width: 50%;
   height: 5rem;
   padding: 1rem 1rem;
   font-size: 1.5rem;
   border: 1px solid;
   margin:0.5rem 0.5rem;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}
.search form .button{
   height: 5rem;
   width: 10rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   padding-right: 1rem;
   margin:0.5rem 0.5rem;
   padding-top: 0.2rem;
   border: 1px solid;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

.search form .button:hover{
   background-color: var(--forest-green);
   color: var(--white);
}


.function{
   top:0; left:0; right:0;
   background-color: var(--white);
   z-index: 1000;
   width: 100%;
   box-shadow: var(--box-shadow);
}
.function .function-bar{
   width: fit-content;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.function .function-bar .funbar{
   display: inline-flex;
   margin-left: auto;
   margin-right: auto;
   padding-left: 2.5rem;
}

.function .function-bar .funbar .function-box{
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 6pt;
   width: 30rem;
   height: 4rem;
   background-color: var(--forest-green);
   border: var(--border);
   border-radius: 0.5rem;
   text-align: center;
   color: #fff;
   font-size: medium;
   box-shadow: var(--box-shadow);
}

.function .function-bar .funbar .function-box:hover{
   background-color: #076d38;
}

.function-box:after{
   content: '\00BB';
   padding-left: 7pt;
   transition: 0.5s;
   opacity: 0;
   top: 0;
}

.funbar:hover a{
   padding-right: 25px;
}

.funbar:hover .function-box:after {
   opacity: 1;
   right: 0;
 }

.dash-contain{
   display: block;
   margin-left: auto;
   margin-right: auto;
   background : url(../images/cover1.jpeg) no-repeat;
}
.dash-contain .dash{
   width: 99%;
}
.dash tr th{
   border: 3px solid;
   border-radius: 0.5rem;
   width: 20%;
   font-size: x-large;
}

.dash-contain .dash .obleImg .oblation{
   width : 200%;
   height : 5%;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 0.5%;

}
.dash .num{
   background-color: rgb(241, 184, 184);
   border-color: #7b1113;
}
.dash .tot{
   background-color: rgb(167, 215, 95);
   border-color: var(--forest-green);
   font-size: 55px; 
}
.dash .fresh{
   background-color: rgb(110, 173, 232);
   border-color: blue;
   font-size: 30px; 
}
.dash .soph{
   background-color: rgb(239, 236, 170);
   border-color: darkgoldenrod;
   font-size: 30px;
}
.dash .jr{
   background-color: rgb(235, 197, 126);
   border-color: rgb(255, 166, 1);
   font-size: 30px;
}
.dash .sr{
   background-color: rgb(247, 142, 142);
   border-color: red;
   font-size: 30px;
}
.dash .cac{
   background-color: khaki;
   border-color: brown;
   font-size: 30px;
}
.dash .css{
   background-color: rgb(229, 113, 204);
   border-color: darkmagenta;
   font-size: 30px;
}
.dash .cs{
   background-color: skyblue;
   border-color: royalblue;
   font-size: 30px;
}

.view-all{
   display: block;
   margin-left: auto;
   margin-right: auto;
   min-height: 40vh;
}

.view-all div.scrollmenu {
   overflow: auto;
   white-space: nowrap;
   margin: 2rem;
   border: 3px solid;
 }
 

.view-all .scrollmenu .view{
   width: 100%;
   margin : 1rem;
}
.view{
   border-collapse: collapse;
   width: 20rem;
   font-size: medium;
}
 .view td, th{
   border: 1px solid;
   padding-left: 5pt;
   padding-right: 5pt;
   height: 3rem;
 }
 .view tr:nth-child(even) {
      background-color: #dddddd;
 }

 .update-content{
   width: 100%;
   min-height: 110vh;
 }
 .update-content .update-container{
   min-height: 110vh;
 }
 .update-content1{
   width: 100%;
   height: 255vh;
 }
 .update-content1 .update-container1{
   height: 250vh;
   border: 0.5px solid;
   padding-top: 2rem;
 }
 .update-content .update-container .update-left{
   float: left;
   width: 40%;
 }
 .update-content1 .update-container1 .update-left1{
   margin-left: 7rem;
   float: left;
   width: 48%;
 }
 .update-content .update-container .update-left .up{
   height: 100vh;
   width: 100%;
 }
 .update-content .update-container .update-left .oblation{
   height: 85vh;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   display: block;
 }
 .update-content .update-container .update-right{
   margin-left: 40%;
   margin-top: 3rem;
 }
 .update-content1 .update-container1 .update-right1{
   margin-left: 51%;
   margin-top: 1rem;
 }
 .update-content .update-container .update-right .form-group{
   margin-left: 8rem;
 }
 .update-content .update-container  .box{
   width: 70%;
   height: 4.5rem;
   padding: 1rem 1rem;
   font-size: 1.5rem;
   border: 1px solid;
   margin:0.5rem 0.5rem;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

.update-content .update-container .button{
   height: 4.5rem;
   width: 10rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   padding-right: 1rem;
   margin:0.5rem 0.5rem;
   padding-top: 0.2rem;
   border: 1px solid;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

.update-content .update-container .button:hover{
   background-color: var(--forest-green);
   color: var(--white);
}

.update-content1 .update-container1 .box{
   width: 90%;
   height: 4rem;
   padding: 1rem 1rem;
   font-size: 1.5rem;
   border: 1px solid;
   margin:0.5rem 2rem;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

.update-content1 .update-container1 .button5{
   height: 4rem;
   width: 16rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   padding-right: 1rem;
   margin:0.5rem -0.5rem;
   margin-right: 1.5rem;
   padding-top: 0.2rem;
   border: 1px solid;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

.update-content1 .update-container1 .button5:hover{
   background-color: var(--forest-green);
   color: var(--white);
}

.update-content1 .update-container1 .update-right1 .form-group{
   border-left:5px solid var(--forest-green);
   border-radius: 0.5rem;
   padding-bottom: 1.5rem;
   padding-top: 0.5rem;
   margin-left:2rem;
   width: 70%;
   background-color: rgb(186, 246, 186);
}

.update-content1 .update-container1 .update-left1 .form-group{
   border-left:5px solid var(--forest-green);
   border-radius: 0.5rem;
   padding-bottom: 1rem;
   padding-top: 0.5rem;
   margin-left:2rem;
   width: 70%;
   background-color: rgb(186, 246, 186);
}
.update-content .update-container .update-right .edit-info{
   font-size: 5rem;
   margin-left: 8rem;
   margin-top: -2rem;
   margin-bottom: 1rem;
   
}

.view-all1{
   min-height: 40vh;
   margin: -1.5rem;
   
}

.view-all1 div.scrollmenu1 {
   overflow: auto;
   white-space: nowrap;
   border: 2px solid;
   
 }
 

.view-all1 .scrollmenu1 .view1{
   width: 100%;
   margin: 1rem;
}
.view1{
   border-collapse: collapse;
   width: 20rem;
   font-size: medium;
}
 .view1 td, th{
   border: 1px solid;
   padding-left: 5pt;
   padding-right: 5pt;
   height: 4.5rem;
 }
 .view1 tr:nth-child(even) {
      background-color: #dddddd;
 }
 .update-content .update-container .update-right td span{
   margin: 0.5rem 0.5rem 0.5rem 0.5rem;
   display: block;
   border: 1px solid;
   border-radius: 0.5rem;
   background-color: var(--forest-green);
 }

 .update-content .update-container .update-right span .button1{
   background-color: var(--forest-green);
   font-size: 1.5rem;
   color: var(--white);
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   text-align: center;
   padding: 0.6rem;
   margin:auto;
   display: block;
   border-radius: 0.5rem;
}

.update-content .update-container .update-right span:hover{
   background-color: #076d38;
}

.update-content .update-container .update-right span .button1:hover{
   background-color: #076d38;
}
.update-content .update-container .update-right .right-left{
   float: left;
   margin-bottom: -3rem;
}
.update-content .update-container .update-right .right-right{
   margin-left: 68rem;
   margin-bottom: -3rem;
}
.update-content .update-container .update-right .button2{
   height: 3.5rem;
   width: 20rem;
   font-size: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   padding-right: 1rem;
   margin:0.5rem 0.5rem;
   padding-top: 0.2rem;
   border: 1px solid;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

.update-content .update-container .update-right .button2:hover{
   background-color: var(--forest-green);
   color: var(--white);
}
h1{
   font-size:17px;
   margin-left: 1rem;
   margin-top:1rem;
}
h2{
   font-size:14px;
   margin-left: 1rem;
   margin-top:0.3rem;
}

label{
   font-size: 13px;
   margin-left: 1rem;
}
.update-content1 .update-container1 .form-group .circle{
   height: 25px;
   width: 25px;
   border-radius: 100%;
   font-size: 20px;
   margin-left: 2rem;
}
.view-all .scrollmenu .view td span{
   margin: 0.5rem 0.5rem 0.5rem 0.5rem;
   display: block;
   border: 1px solid;
   border-radius: 0.5rem;
   background-color: var(--forest-green);
 }

 .view-all .scrollmenu .view span .button2{
   background-color: var(--forest-green);
   font-size: 1.5rem;
   color: var(--white);
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   text-align: center;
   padding: 0.6rem;
   margin:auto;
   display: block;
   border-radius: 0.5rem;
}

.view-all .scrollmenu .view span:hover{
   background-color: #076d38;
}

.view-all .scrollmenu .view span .button2:hover{
   background-color: #076d38;
}


.about-container{
   margin-left: auto;
   margin-right: auto;
   display: block;
   border: 5px;
   border-style: inset;
   border-color: var(--gold);
   height: 60rem;
   width: 55rem;

}
.up_name{
   height: 20rem;
   width: 35rem;
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding-top: 2.5rem;
}
.about{
   font-size: 35px;
   padding-left: 2rem;
   padding-top:1.5rem;
}
.about-content{
   font-size: 20px;
   padding-left: 3rem;
   padding-top: 2rem;
   padding-right: 3rem;
  
}
.credit1{
   text-align: center;
   padding-top: 2.5rem;
   margin-top: 2.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.credit1 .guaranthreed{
   color:var(--maroon);
}

.table-list{
   margin-left: 40.5%;
   margin-top: 5rem;
   width: 84rem;
   border: 5px;
   border-style: inset;
   border-color: var(--gold);
   padding-bottom: 2rem;
}
.table-list .table-head{
  font-size: 6rem;
  margin-left: 21rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.table-list .form-label{
   font-size: 16px;
   margin-left: 3rem;
}
.table-list .table-left{
   float: left;
   width: 45%
}
.table-list .table-right{
   margin-left: 49%;
}

.table-list  .form-box{
   width: 33rem;
   height: 4rem;
   padding: 1rem 2rem;
   font-size: 1.5rem;
   border: 1px solid black;
   margin-left: 5rem;
   margin-top:0.5rem;
   margin-bottom: 1rem;
   border-radius: 0.5rem;
}



/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex{
      padding:2rem;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar ul li{
      width: 100%;
      padding:.5rem;
   }

   .header .flex .navbar ul li ul{
      position: static;
      width: 100%;
      animation: none;
      background-color: var(--light-bg);
   }

   .header .flex .navbar ul li ul li{
      padding-left: 2rem;
   }

   .home .content h3{
      font-size: 3.5rem;
   }

}